{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div style="min-height: 80vh;">
        <h1>Create Position for {{section}}</h1>

        {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{wtf.form_field(form.num_SAs)}}
            {{wtf.form_field(form.min_GPA)}}
            {{wtf.form_field(form.min_grade)}}
            {{wtf.form_field(form.submit)}}

        </form>
        {% endif %}
    </div>



{% endblock %}