{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1>Viewing Student Profile {{student.firstname}} {{student.lastname}}</h1>
    <hr>
    <div class="card text-bg-light mb-3">
    <div class="card-header"></div>
    <div class="card-body">
        <h5 class="card-title">Student ID: {{student.id}}</h5>
        <p class="card-text">Student WPI ID: {{student.wpi_id}}</p>
        <p class="card-text">Student Email: {{student.email}}</p>
        <p class="card-text">Student Phone: {{student.phone}}</p>
        <p class="card-text">Student GPA: {{student.gpa}}</p>
        <p class="card-text">Student Graduation Date: {{student.graduation_date}}</p>

    </div>
    </div>


{% endblock %}