{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div style="min-height: 80vh;">
        <h3 class="form-title">Update Course Section</h3>
        <div class="register-form" style="min-height: 0% !important;>
        {% if form %}
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{wtf.form_field(form.course_number)}}
                {{wtf.form_field(form.section)}}
                {{wtf.form_field(form.term)}}
                {{wtf.form_field(form.submit)}}

            </form>
        {% endif %}
        </div>
    </div>



{% endblock %}