{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div style="min-height: 80vh;">
        <h1>Applying for position</h1>

        {% if form %}
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{wtf.form_field(form.grade)}}
                {{wtf.form_field(form.year_taken)}}
                {{wtf.form_field(form.term_taken)}}
                {{wtf.form_field(form.submit)}}

            </form>
        {% endif %}
    </div>

{% endblock %}