{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block content %}

   <!-- Display everything in courses -->
    <div style="min-height: 80vh;">
        <h1>Welcome to Instructor Page</h1>
        <div class="indexHeader">
       <h4 style="text-align: center;">Course Sections</h4>

       <a href="{{url_for('instructor.create_course')}}" class="button">Create Course</a>
            <hr class="mb-4">
   </div>

   <ul class = "courseSections">
       {% for course in coursesections %}
           <li>
               {{course}}
               <div>
                   <button class = "btn btn-outline-dark"  id = "button-{{course.id}}" onclick="showInfo({{course.id}})">View Details</button>
                   {%if course.hasPosition()%}
                       {%if course.position.available%}
                            <button class="btn btn-outline-primary" id="view-applicants-{{course.position.id}}" onclick="get_applicants({{course.position.id}})">View Applicants</button>
                       {%else%}
                           <a href="#" class = "button filled">Filled</a>
                       {%endif%}
                   {%else%}
                       <a href="{{url_for('instructor.create_position', course_id = course.id)}}" class = "button create">Create Position</a>
                   {%endif%}
               </div>
           </li>
           <div id = "{{course.id}}" style="display: none;">
               <hr>
               {%if course.hasPosition()%}
                   <h5>Position Details</h5>
                   <p>Position: {{course.position}}</p>
                   <p>Available: {{course.position.available}}</p>
                   <p>Number of SAs: {{course.position.num_SAs}}</p>
                   <p>Minimum GPA: {{course.position.min_GPA}}</p>
                   <p>Minimum Grade: {{course.position.min_grade}}</p>
               {%else%}
                   <p>No Position Created</p>
               {%endif%}

           </div>
           <hr>
            <div id = "application-{{course.position.id}}" style="display: none;">
               <hr>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>student id</th>
                            <th>student name</th>
                            <th>grade acquired</th>
                            <th>term taken</th>
                            <th>course term</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody id="instructor-table" >

                    </tbody>
                </table>

            </div>



       {% endfor %}
   </ul>
    </div>


{% block script %}
   <script>
       function showInfo(id){
           var x = document.getElementById(id);
           if(x.style.display === "none"){
               x.style.display = "block";
               document.getElementById('button-' + id).textContent = "Hide Details";
           }
           else{
               x.style.display = "none";
               document.getElementById('button-' + id).textContent = "View Details";
           }
       }

       async function get_applicants(position_id){
           const url = "{{ url_for('instructor.view_allstudents', position_id = 'position_id') }}".replace("position_id", position_id);
           try {
            const response = await fetch(url)
            if (!response.ok) {
                throw new Error('Response status: $(response.status)');
            }
            const json = await response.json();
            console.log(json);
            fill_applications(position_id, json);
            } catch (error) {
                console.log(error.message);
            }
       }

       function fill_applications(position_id, data){
           let applications_div = document.getElementById(`application-${position_id}`);


           let table = document.getElementById('instructor-table');
           for (let i = 0; i<data.length; i++){
               let tr = document.createElement('tr');

               let td1 = document.createElement('td');
               td1.textContent = i+1;
               tr.appendChild(td1);

               let td2 = document.createElement('td');
               td2.textContent = data[i]['student_id'];
               tr.appendChild(td2);

               let td7 = document.createElement('td');
               td7.textContent = data[i]['student_name'];
               tr.appendChild(td7);

               let td3 = document.createElement('td');
               td3.textContent = data[i]['grade_acquired'];
               tr.appendChild(td3);

               let td4 = document.createElement('td');
               td4.textContent = data[i]['term_taken'];
               tr.appendChild(td4);

               let td5 = document.createElement('td');
               td5.textContent = data[i]['course_term'];
               tr.appendChild(td5);

               let td6 = document.createElement('td');
               td6.textContent = data[i]['status'];
               tr.appendChild(td6);

               table.appendChild(tr);

           }

           if (applications_div.style.display === 'block'){
               document.getElementById(`view-applicants-${position_id}`).textContent = 'View Applicants';
               table.textContent = '';
               applications_div.style.display = 'none';
           }
           else{
                document.getElementById(`view-applicants-${position_id}`).textContent = 'Hide Applicants';
                applications_div.style.display = 'block';
           }

       }

   </script>
{% endblock %}

{% endblock %}
