{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block content %}

   <!-- Display everything in courses -->
    <div style="min-height: 80vh;">
        <h1>Welcome to Instructor Page</h1>
        <div class="indexHeader">
       <h4 style="text-align: center;">Course Sections</h4>

       <a href="{{url_for('instructor.create_course')}}" class="button">Create Course</a>
            <hr class="mb-4">
   </div>

   <ul class = "courseSections">
       {% for course in coursesections %}
           <li>
               {{course}}
               <div>
                   <a class = "button"  id = "button-{{course.id}}" onclick="showInfo({{course.id}})">View Details</a>
                   {%if course.hasPosition()%}
                       {%if course.position.available%}
                            <button id="view-applicants-${course.position.id}" onclick="get_applicants({{course.position.id}})">View Applicants</button>
<!--                           <a href="#" class = "button view">View Applicants</a>-->
                       {%else%}
                           <a href="#" class = "button filled">Filled</a>
                       {%endif%}
                   {%else%}
                       <a href="{{url_for('instructor.create_position', course_id = course.id)}}" class = "button create">Create Position</a>
                   {%endif%}
               </div>
           </li>
           <div id = "{{course.id}}" style="display: none;">
               <hr>
               {%if course.hasPosition()%}
                   <h5>Position Details</h5>
                   <p>Position: {{course.position}}</p>
                   <p>Available: {{course.position.available}}</p>
                   <p>Number of SAs: {{course.position.num_SAs}}</p>
                   <p>Minimum GPA: {{course.position.min_GPA}}</p>
                   <p>Minimum Grade: {{course.position.min_grade}}</p>
               {%else%}
                   <p>No Position Created</p>
               {%endif%}

           </div>
           <hr>
            <div id = "application-{{course.position.id}}" style="display: none;">
               <hr>

            </div>
       <hr>


       {% endfor %}
   </ul>
    </div>


{% block script %}
   <script>
       function showInfo(id){
           var x = document.getElementById(id);
           if(x.style.display === "none"){
               x.style.display = "block";
               document.getElementById('button-' + id).textContent = "Hide Details";
           }
           else{
               x.style.display = "none";
               document.getElementById('button-' + id).textContent = "View Details";
           }
       }

       async function get_applicants(position_id){
           const url = "{{ url_for('instructor.view_allstudents', position_id = 'position_id') }}".replace("position_id", position_id);
           try {
            const response = await fetch(url)
            if (!response.ok) {
                throw new Error('Response status: $(response.status)');
            }
            const json = await response.json();
            console.log(json);
            fill_applications(position_id, json);
            } catch (error) {
                console.log(error.message);
            }
       }

       function fill_applications(position_id, data){
           let applications_div = document.getElementById(`application-${position_id}`);
           console.log(data);
           applications_div.textContent = data;
           for (let i = 0; i<data.length; i++){

           }

           if (applications_div.style.display === 'block'){
                document.getElementById(`view-applicants-${position_id}`).textContent = 'View Applicants';
                applications_div.textContent = '';
                applications_div.style.display = 'none';
           }
           else{
                document.getElementById(`view-applicants-${position_id}`).textContent = 'Hide Applicants';
                applications_div.style.display = 'block';
           }

       }

   </script>
{% endblock %}

{% endblock %}
