{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div style="min-height: 80vh;">
              <h1>Welcome to Student Page</h1>
            <!-- Display the number and title of every item in the Course table -->
            <h2>Open Positions</h2>
            <ul class="courseSections">
                {% for position in positions %}
                    <li>{{position}} <button onclick="show_position_details({{ position.id }})" id="show-details-{{position.id}}">Show Details</button> </li>
                {% endfor %}
            </ul>
            {% for position in positions %}
            <div style="display: none" class="courseSections" id="position-{{position.id}}">


            </div>
        {% endfor %}
            </div>


{% block script %}
<script>

    async function show_position_details(position_id) {
        const url = "{{ url_for('student.view_SA_details', position_id = 'position_id') }}".replace("position_id", position_id);
        try {
            const response = await fetch(url)
            if (!response.ok) {
                throw new Error('Response status: $(response.status)');
            }
            const json = await response.json();
            console.log(json);
            fill_details(position_id, json);
        } catch (error) {
            console.log(error.message);
        }
    }

    function fill_details(position_id, data){
        let position_div = document.getElementById(`position-${position_id}`);
        console.log(data);
        const new_list = document.createElement("ul");
        const li1 = document.createElement("li");
        li1.textContent = `Number of SAs needed: ${data['num_SAs']}`
        new_list.appendChild(li1);

        const li2 = document.createElement("li");
        li2.textContent = `Availability: ${data['available']}`
        new_list.appendChild(li2);

        const li3 = document.createElement("li");
        li3.textContent = `Minimum GPA required: ${data['min_GPA']}`
        new_list.appendChild(li3);

        const li4 = document.createElement("li");
        li4.textContent = `Minimum grade required: ${data['min_grade']}`
        new_list.appendChild(li4);

        position_div.appendChild(new_list);
        console.log(position_div);
        if (position_div.style.display === 'block'){
            document.getElementById(`show-details-${position_id}`).textContent = 'Show Details';
            position_div.textContent = '';
            position_div.style.display = 'none';
        }
        else{
            document.getElementById(`show-details-${position_id}`).textContent = 'Hide Details';
            position_div.style.display = 'block';
        }
    }

</script>
{% endblock %}

{% endblock %}