{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <div style="min-height: 80vh;">
              <h1>Welcome to Student Page</h1>
            <!-- Display the number and title of every item in the Course table -->
            <h2 style="text-align: center">Open Positions</h2>
            <hr class="mb-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Course Section</th>
                        <th>Details</th>
                        <th>Apply</th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr>
                            <td>
                                {{loop.index}}
                            </td>
                            <td>
                                {{position}}
                                <div class="card text-bg-light mb-3" style="display: none" id="position-{{position.id}}">


                                </div>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary" onclick="show_position_details({{ position.id }})" id="show-details-{{position.id}}">Show Details</button>
                            </td>
                            {% if position.id in applied %}
                            <td>
                                <a class = "btn btn-outline-secondary">Pending</a>                            
                            {% else %}
                            <td>
                                <a href="{{url_for('student.apply_course', position_id=position.id)}}" class="btn btn-outline-success">Apply</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for position in positions %}

        {% endfor %}
            </div>


{% block script %}
<script>

    async function show_position_details(position_id) {
        const url = "{{ url_for('student.view_SA_details', position_id = 'position_id') }}".replace("position_id", position_id);
        try {
            const response = await fetch(url)
            if (!response.ok) {
                throw new Error('Response status: $(response.status)');
            }
            const json = await response.json();
            console.log(json);
            fill_details(position_id, json);
        } catch (error) {
            console.log(error.message);
        }
    }

    function fill_details(position_id, data){
        let position_div = document.getElementById(`position-${position_id}`);
        console.log(data);
        const new_list = document.createElement("ul");
        const li1 = document.createElement("li");
        li1.textContent = `Number of SAs needed: ${data['num_SAs']}`
        new_list.appendChild(li1);

        const li2 = document.createElement("li");
        li2.textContent = `Availability: ${data['available']}`
        new_list.appendChild(li2);

        const li3 = document.createElement("li");
        li3.textContent = `Minimum GPA required: ${data['min_GPA']}`
        new_list.appendChild(li3);

        const li4 = document.createElement("li");
        li4.textContent = `Minimum grade required: ${data['min_grade']}`
        new_list.appendChild(li4);

        const li5 = document.createElement("li");
        // li5.textContent = `Date posted: ${data['date_posted']}`
        li5.textContent = `Date posted: ${utc_to_local(data['date_posted'])}`
        new_list.appendChild(li5);

        const li6 = document.createElement("li");
        // li5.textContent = `Date posted: ${data['date_posted']}`
        li6.textContent = `Instructor: ${data['instructor']}`
        new_list.appendChild(li6);

        position_div.appendChild(new_list);
        console.log(position_div);
        if (position_div.style.display === 'block'){
            document.getElementById(`show-details-${position_id}`).textContent = 'Show Details';
            position_div.textContent = '';
            position_div.style.display = 'none';
        }
        else{
            document.getElementById(`show-details-${position_id}`).textContent = 'Hide Details';
            position_div.style.display = 'block';
        }
    }

    function utc_to_local(utcdate) {
    var d = new Date(utcdate);
    return d.toLocaleString();
}

</script>
{% endblock %}

{% endblock %}