.body{
  font-family: 'Nunito', sans-serif
}


.form-title{
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 26px;
  position: relative;
}


.form-title:before{
  content: '';
  position: absolute;
  height: 3px;
  width: 120px;
  bottom: 0;
  background: #696969;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.register-form{
  border: 1px solid #ced4da;
  min-height: 100%;
  box-sizing: border-box;
  margin: 20px auto 95px auto;
  width: 70%;
  padding: 20px;

}


.useritem{
  color: crimson;
  text-transform: uppercase;
}


.nav-text:hover{
  color: #fff;
}


.footback{
  background-color: #808080;
  padding: 1px !important;
  margin: 25px 0 0 0 !important;
}


.footer-features{
  text-decoration: none;
}


.courseSections{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.courseSections li{
  display: flex;
  justify-content: space-between;
}

.indexHeader{
  display: flex;
  justify-content: space-between;
  margin-left: 40vw;
  margin-right: 10px;
}

.button{
  border: 1px solid black;
  padding: 2px 5px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.button:hover{
  background-color: #CCC;
  cursor: pointer;
}

.view{
  background-color: white;
}

.view:hover{
  background-color: #CCC;
}

.create{
  background-color: #f0aeae;
  color: black;
}

.filled{
  background-color: #b9ffb9;
  color: black;
}
