.body{
    font-family: 'Nunito', sans-serif
}

.form-title{
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-size: 26px;
    position: relative;
}

.form-title:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 120px;
    bottom: 0;
    background: #427cc5;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.register-form{
    border: 1px solid #ced4da;
    min-height: 100%;
    box-sizing: border-box;
    margin: 20px auto 95px auto;
    width: 70%;
    padding: 20px;

}

