{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <h2 class="text-center mb-4">Hi Instructor, {{name}}!</h2>
    <h3 class="text-center mb-3">Please continue to fill your other details...</h3>

    <h3 class="form-title">Instructor Registration</h3>
        <div class="register-form" style="min-height: 0% !important;">

            {% if form %}
            <form action = "{{url_for('auth.instructor_register_sso')}}" method = 'POST'>
                {{ form.hidden_tag()}}

                {{wtf.form_field(form.wpi_id)}}
                {{wtf.form_field(form.phone)}}

                {{wtf.form_field(form.submit)}}

            </form>
            {% endif %}
        </div>


{% endblock %}
