{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1 class="text-center">Welcome to CSAssist!</h1>

    <div class="card align-items-center" style="width: 18rem;">
      <img src="{{ url_for('static', filename = 'img//wpi_sso.png' )}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Login With WPI SSO</h5>
        <p class="card-text">Using WPI Azure SSO</p>
        <a href='{{ auth_uri }}' class='btn btn-outline-success w-100'>SSO Sign In</a>
      </div>
      <div class="card-body">
        <a href="{{ url_for('auth.login') }}" class="card-link">Go Back</a>
      </div>
    </div>



    {% if user_code %}
    <ol>
      <li>To sign in, type <b>{{ user_code }}</b> into
        <a href='{{ auth_uri }}' target=_blank>{{ auth_uri }}</a>
        to authenticate.
      </li>
      <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
    </ol>
    {% else %}
    <ul><li><a href='{{ auth_uri }}'>Sign In</a></li></ul>
    {% endif %}

    <hr>
    <footer style="text-align: right">Microsoft identity platform Web App Sample {{ version }}</footer>

{% endblock %}
