{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <h2 class="text-center mb-4">Hi Student, {{name}}!</h2>
    <h3 class="text-center mb-3">Please continue to fill your other details...</h3>

    <h3 class="form-title">Student Registration</h3>
        <div class="register-form">
            {% if form %}
            <form action = "{{url_for('auth.student_register_sso')}}" method = 'POST'>
                {{ form.hidden_tag()}}


                {{wtf.form_field(form.wpi_id)}}
                {{wtf.form_field(form.phone)}}
                {{wtf.form_field(form.GPA)}}
                {{wtf.form_field(form.graduation_date)}}
                {{wtf.form_field(form.courses_taught)}}

                {{wtf.form_field(form.submit)}}

            </form>
            {% endif %}
        </div>

{% endblock %}
